{{#unless isFastBoot}}
  <HeadLayout />
{{/unless}}
<div class="container">
  {{title "Leidinggevenden databank"}}

  {{#unless isFastBoot}} <WuWidget @src={{header}} @class="vo-header-widget" /> {{/unless}}

  <WithRdfaPrefixesAndVocab>
    {{outlet}}
  </WithRdfaPrefixesAndVocab>

  {{#unless isFastBoot}} <WuWidget @src={{footer}}/> {{/unless}}
</div>
