{{#wu-content-header title="Leidinggevendendatabank"}}
  <img sizes="50vw" src="/assets/images/banner-leidinggevenden.jpg" srcset="/assets/images/banner-leidinggevenden-320.jpg 320w, /assets/images/banner-leidinggevenden-1024.jpg 1024w, /assets/images/banner-leidinggevenden-1600.jpg 1600w" alt="" title="">
{{/wu-content-header}}
<div class="region">
  <div class="layout layout--wide u-spacer--bottom--large" id="main">

    <h2 class="h3 u-spacer">Bekijk de leidinggevenden in een bestuur</h2>
    <div class="grid">
      <div class="col--6-12">
        <h3 class="h5 u-spacer--tiny">Kies een bestuurseenheid</h3>
        <p class="small u-spacer--tiny">Zoals een gemeentebestuur, autonoom gemeentebedrijf, OCMW-vereniging, intergemeentelijk samenwerkingsverband (IGS), provinciebestuur of autonoom provinciebedrijf (APB)</p>
        {{select-bestuurseenheid
          value=betuurseenheid
          onSelectionChange=(action (mut bestuurseenheid))
          class="u-spacer--tiny ember-power-select--large"
        }}
      </div>
    </div>
    {{#link-to "bestuurseenheid.functionarissen" bestuurseenheid.id class="button button--narrow button--large"}}
      <i class="vi vi-arrow"></i>
      Bekijk leidinggevenden van bestuurseenheid
    {{/link-to}}

    <div class="u-hr u-hr--label u-hr--label--centered u-spacer--tb--large"><span>of</span></div>

    <div class="grid u-spacer--tb--large">
      <div class="col--8-12 col--12-12--s">
        <h2 class="h3 u-spacer--tiny">Download leidinggevendendatabank</h2>
        <p>Overzicht van alle besturen in de huidige bestuursperiode.</p>
      </div>
      <div class="col--4-12 col--12-12--s u-align-right--medium-up">
        {{!-- bestuursperiode select here --}}
      </div>
    </div>
    <div class="grid">
      <div class="col--4-12 col--12-12--s">
        <div class="u-spacer--bottom document-miniature">
          <div class="document-miniature__type">
            <span class="document-miniature__type__text">CSV</span>
          </div>
          <div class="document-miniature__content">
            <a class="document-miniature__title">CSV: voor spreadsheet editors zoals Excel of Numbers.</a>
            <div class="document-miniature__metadata">CSV - 57.1MB - 30/04/2019 08:43</div>
          </div>
        </div>
      </div>
      <div class="col--4-12 col--12-12--s">
        <div class="u-spacer--bottom document-miniature">
          <div class="document-miniature__type">
            <span class="document-miniature__type__text">Turtle</span>
          </div>
          <div class="document-miniature__content">
            <a class="document-miniature__title">Turtle: gestructureerde data voor dataverwerking en analyse.</a>
            <div class="document-miniature__metadata">Turtle - 35.1MB - 30/04/2019 10:19</div>
          </div>
        </div>
      </div>
      <p>Mail naar <a href="mailto:LoketLokaalBestuur@vlaanderen.be">LoketLokaalBestuur@vlaanderen.be</a> voor meer informatie.</p>
    </div>

    {{outlet}}
  </div>
</div>
