<AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="Leidinggevendendatabank" @pictureSize="large">
  <img sizes="50vw" src="/assets/images/loket-header-1600-85a5251e74ef6ac8491b2f228d2c90da.jpg" srcset="/assets/images/banner-leidinggevenden-320.jpg 320w, /assets/images/banner-leidinggevenden-1024.jpg 1024w, /assets/images/banner-leidinggevenden-1600.jpg 1600w" alt="Foto van een stad met een kanaal en huizen.">
</AuContentHeader>

<div class="au-o-layout au-o-layout--large">
  <div class="au-o-region">
    <AuHeading @level="1" @skin="2" class="au-u-margin-bottom">
      Bekijk de leidinggevenden in een bestuur
    </AuHeading>
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-1 au-u-2-3@small au-u-1-2@medium au-u-1-3@large">
        <AuLabel>
          Kies een bestuurseenheid
        </AuLabel>
        <SelectBestuurseenheid @value={{this.bestuurseenheidId}} @onSelectionChange={{this.setBestuurseenheidId}} @class="au-u-margin-bottom" />
      </div>
    </div>
    <LinkTo @route="bestuurseenheid.functionarissen" @model={{this.bestuurseenheidId}} class="au-c-button {{if this.bestuurseenheidId "" "is-disabled"}}">
      Bekijk leidinggevenden in bestuur
    </LinkTo>
  </div>

  <div class="au-o-region-large">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-1 au-u-2-3@medium">
        <AuHeading @level="1" @skin="2">
          Download leidinggevendendatabank
        </AuHeading>
        <p>Overzicht van alle besturen in de huidige bestuursperiode.</p>
      </div>
    </div>
    <DownloadMiniatures />
  </div>
</div>
