<WuContentHeader @title="Leidinggevendendatabank">
  <img sizes="50vw" src="/assets/images/banner-leidinggevenden.jpg" srcset="/assets/images/banner-leidinggevenden-320.jpg 320w, /assets/images/banner-leidinggevenden-1024.jpg 1024w, /assets/images/banner-leidinggevenden-1600.jpg 1600w" alt="" title="">
</WuContentHeader>
<div class="region">
  <div class="layout layout--wide u-spacer--bottom--large" id="main">

    <h2 class="h3 u-spacer">Bekijk de leidinggevenden in een bestuur</h2>
    <div class="grid">
      <div class="col--6-12">
        <h3 class="h5 u-spacer--tiny">Kies een bestuurseenheid</h3>
        <p class="small u-spacer--tiny">Zoals een gemeentebestuur, autonoom gemeentebedrijf, OCMW-vereniging, intergemeentelijk samenwerkingsverband (IGS), provinciebestuur of autonoom provinciebedrijf (APB)</p>
        <SelectBestuurseenheid @value={{bestuurseenheidId}} @onSelectionChange={{this.setBestuurseenheidId}} @class="u-spacer--tiny ember-power-select--large" />
      </div>
    </div>
    <LinkTo @route="bestuurseenheid.functionarissen" @model={{bestuurseenheidId}} @class="button button--narrow button--large" @classBinding="bestuurseenheidId::button--disabled">
      <i class="vi vi-arrow"></i>
      Bekijk leidinggevenden van bestuurseenheid
    </LinkTo>

    <div class="u-hr u-hr--label u-hr--label--centered u-spacer--tb--large"><span>of</span></div>

    <div class="grid u-spacer--tb--large">
      <div class="col--8-12 col--12-12--s">
        <h2 class="h3 u-spacer--tiny">Download leidinggevendendatabank</h2>
        <p>Overzicht van alle besturen in de huidige bestuursperiode.</p>
      </div>
      <div class="col--4-12 col--12-12--s u-align-right--medium-up">
        {{!-- bestuursperiode select here --}}
      </div>
    </div>
    <DownloadMiniatures />
  </div>
</div>
