<div class="u-padding--rl--small u-background--gray-lighter">
  <div class="u-padding--top--tiny">
    <div class="grid">
      <div class="col--6-12">
        <a class="link--icon">
          {{#link-to "index"}}
            <small><i  class="vi-arrow vi-u-180deg vi"></i> Terug naar zoeken</small>
          {{/link-to}}
        </a>
      </div>
    </div>
  </div>

  <div class="u-padding--tb" id="main">
      <h1 class="h2 text-light u-spacer--bottom--tiny">
        Leidinggevenden van de
        {{#with-rdfa-context tagName="span" model=bestuurseenheid as |ctx|}}
          <span property={{bestuurseenheid.rdfaBindings.naam}}>{{bestuurseenheid.naam}}</span>
        {{/with-rdfa-context}}
      </h1>
  </div>
</div>

<!-- TODO: To make the RDFA annotations independent for a crawler. IT would best to include in RDFA annotation
     1. Bestuurseenheid -> bestuursorgaan -> bestuursorgaan  in tijd -> bestuursfuncties-->

<div class="u-padding--rl--small u-spacer--tb">
  <div class="container-flex--scroll">
    {{#functionaris-table
      class="container-flex--contain"
      content=model
      sort=sort
      page=page
      size=size
      displaySubset=hasActiveChildRoute
      filter=filter
      renderSmallTable=hasActiveChildRoute
      data-test-loket="leidinggevendenbeheer-table"
    }}
      <tbody>
        <tr>
          <td class="u-align-center u-padding--round--small" colspan="6">
            <p class="u-spacer--tiny">Geen functionaris gevonden.</p>
          </td>
        </tr>
      </tbody>
    {{/functionaris-table}}
  </div>
</div>

{{outlet}}
